@import url(https://fonts.googleapis.com/css?family=Oswald|Roboto);

body{
margin:0;
}

#maincontainer{
  width: 100%;
  height: 100%;
  position: relative;
}
#bubblediv{
  position: absolute;
  top: 0;
  left: 0;
}
#contentdiv{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#profile{
  width: 85vw;
  height: 100vh;
  padding-left: 15vw;
  z-index: 2;
  position: relative;

}

#chatbubble{
  width: 100vw;
  height: 100vh;
  z-index: 10;
}


#canvas{
position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#chat{
  width: 75vw;
  height: 100vh;
}

.tab, #tab0, #tab1, #tab2, #tab3, #tab4 {
  height: 100%;
  position: absolute;
  box-shadow: 6px 0px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
}
/*.tab:hover ~ div, #tab0:hover ~ div, #tab1:hover ~ div, #tab2:hover ~ div, #tab3:hover ~ div, #tab4:hover ~ div {
  transform: translateX(-80vw);
}*/



.tab div:nth-child(1n+2) {
  transform: translateX(-80vw);
}

#tab0 {
  width: 100vw;
/*  background: #d1e6d7;
*/}

#tab1 {
  width: 90vw;
  background-color: #05A6F0;
}
#tab1::after {
  content: 'Exp1';
  position: absolute;
  width: 5vw;
  height: 25vh;
  background: #05A6F0;
  border-radius: 0 20px 20px 0;
  top: 75%;
  right: -5vw;


}

#tab2 {
  width: 85vw;
  background-color: #FFBA08;
}
#tab2::after {
  content: "";
  background-image: url("../img/zunair.png") ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  width: 5vw;
  height: 25vh;
  border-radius: 0 20px 20px 0;
  top: 50%;
  right: -5vw;
}

#tab3 {
  width: 80vw;
  background-color: #81BC06;
}
#tab3::after {
  content: '/img/zunair.png';
  position: absolute;
  width: 5vw;
  height: 25vh;
  background: #81BC06;
  border-radius: 0 20px 20px 0;
  top: 25%;
  right: -5vw;
}

#tab4 {
  width: 75vw;
  background-color: #F35325;
}
#tab4::after {
  content: 'Edu4';
  position: absolute;
  width: 5vw;
  height: 25vh;
  background: #F35325;
  border-radius: 0 20px 20px 0;
  top: 0;
  right: -5vw;
  color:white;

}



#canvas, .background-svg, .container-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.container-info {
  z-index: 2;
}

h1 {
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 2px;
  color: #fff;
  text-align: left;
  margin: 75px 37px 47px;
}
h1 .info {
  display: block;
  color: #9294AE;
  font-size: 16px;
  letter-spacing: 0px;
}

.box {
  text-align: right;
  padding: 0px 40px;
}

.box-item {
  display: inline-block;
  color: #fff;
  font-size: 30px;
  padding-right: 20px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.table {
  display: table;
  width: 100%;
  height: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.container {
  position: relative;
  width: 400px;
  height: 300px;
  max-width: 100%;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 600px;
  height: 100px;
}

#Triangle-1 {
  -webkit-animation: box 42.5s infinite;
  animation: box 42.5s infinite;
}

#Triangle-2 {
  -webkit-animation: box2 12.5s infinite;
  animation: box2 12.5s infinite;
}

@keyframes box2 {
  10% {
    -moz-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
  }
  80% {
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
}
@keyframes box {
  10% {
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  80% {
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}
.box-item:hover {
  opacity: 0.6;
}

.glassy_bg
{
/*   background-color: #9999FF;
*/   background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
   background-image: -webkit-linear-gradient(30deg, rgba(255, 255, 255, .2) 20%, transparent 25%, transparent 45%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 70%, transparent 75%, transparent);
   background-image: -moz-linear-gradient(30deg, rgba(255, 255, 255, .2) 20%, transparent 25%, transparent 45%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 70%, transparent 75%, transparent);
   background-image: -ms-linear-gradient(30deg, rgba(255, 255, 255, .2) 20%, transparent 25%, transparent 45%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 70%, transparent 75%, transparent);
   background-image: -o-linear-gradient(30deg, rgba(255, 255, 255, .2) 20%, transparent 25%, transparent 45%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 70%, transparent 75%, transparent);
   background-image: linear-gradient(30deg, rgba(255, 255, 255, .2) 20%, transparent 25%, transparent 45%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 70%, transparent 75%, transparent);
   opacity: 0.9;
}





.pad1{
width:5%;
background-color: red;
}
.cont{
width:90%;
background-color: blue;

}
.pad2{
width:5%;
background-color: yellow;

}
/* For mobile phones: */

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

.div_text_shadow {
color: rgb(255, 255, 255);
font-size: 50px;
background-color: rgb(85, 147, 194);
text-shadow: rgb(204, 204, 204) 0px 1px 0px, rgb(201, 201, 201) 0px 2px 0px, rgb(187, 187, 187) 0px 3px 0px, rgb(185, 185, 185) 0px 4px 0px, rgb(170, 170, 170) 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 6px 1px, rgba(0, 0, 0, 0.1) 0px 0px 5px, rgba(0, 0, 0, 0.3) 0px 1px 3px, rgba(0, 0, 0, 0.15) 0px 3px 5px, rgba(0, 0, 0, 0.2) 0px 5px 10px, rgba(0, 0, 0, 0.2) 0px 10px 10px, rgba(0, 0, 0, 0.1) 0px 20px 20px;
-ms-transform: rotate(90deg); /* IE 9 */
-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
transform: rotate(90deg);
}