

body{
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 0%;
    margin-bottom: 1.5%;
    padding-left: 4%;
    padding-right: 2%
    overflow: hidden;
}

/* .job_img{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 20%;
}
.IBM{
    background-image: url("../img/ibm.png") ;
    height: 10%;
}

.AM{
    background-image: url("../img/airmiles.png") ;
}
.TD{
    background-image: url("../img/td.png") ;
}
.TWN{
    background-image: url("../img/twn.png") ;
} */

.glassy_bg
{
    /*   background-color: #9999FF;
    */
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(30deg, rgba(255, 255, 255, .2) 20%, transparent 25%, transparent 45%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 70%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(30deg, rgba(255, 255, 255, .2) 20%, transparent 25%, transparent 45%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 70%, transparent 75%, transparent);
    background-image: -ms-linear-gradient(30deg, rgba(255, 255, 255, .2) 20%, transparent 25%, transparent 45%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 70%, transparent 75%, transparent);
    background-image: -o-linear-gradient(30deg, rgba(255, 255, 255, .2) 20%, transparent 25%, transparent 45%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 70%, transparent 75%, transparent);
    background-image: linear-gradient(30deg, rgba(255, 255, 255, .2) 20%, transparent 25%, transparent 45%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 70%, transparent 75%, transparent);
    /*  opacity: 0.9;
*/}

/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: rgba(255, 255, 255, .8);
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}



img:hover{
background-color: rgba(242,244,242,0.5);
}

img{
    position: absolute;
    border-radius: 25px 25px 25px 25px;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

h1{
    position: absolute;
    font-size: 7vw;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px #000000;

    left:24%;
    font-family: 'Do Hyeon', sans-serif;
    /* font-family: 'Shrikhand', cursive;
    font-family: 'Press Start 2P', cursive; */
}

/* #slide {
    /* position: absolute;
    left: -100px; *
    background: blue;
    transition: 1s;
}

div:hover #slide {
    transition: 1s;
    left: 400;
} */
