@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    src: local("Montserrat-Bold"), url(//themes.googleusercontent.com/static/fonts/montserrat/v4/IQHow_FEYlDC4Gzy_m8fcnbFhgvWbfSbdVg11QabG8w.woff) format("woff")
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url(//themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format("woff")
}

body{
    font-family: 'Open Sans', sans-serif;
    margin-left: 3%;
    margin-right: 3%;  
    margin-top: 0.6%;
    margin-bottom: 0%;
}

.row {
}


.floating-box {
    display: inline-block;
    width: 25%;
    height: 45%;
    margin-left: 3%;
    margin-right: 3%; 
    margin-top: 1.5%;
    border-radius: 5px;
    position: relative; 
    background-color: #84C1A0;

   
/*    background-image: url("../img/airmiles.png") ;
    background-repeat: no-repeat;
    background-size: contain;*/

    transition: all .2s ease-in-out; 
}

.box-img{
    width: 100%;
    height: 70%;
    background-image: url("../img/airmiles.png") ;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
    position: absolute; 
    top: 0;
    border-radius: 5px 5px 0px 0px;
}

.box-text{
    background-color: rgba(110, 182,143, 1);;
    width:95%;
    height:30%;
    position: absolute; 
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    padding-left: 5%;
}

.head-text{
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 0px;
  line-height: 0px;
}
.desc-text{
  color: white;
  font-size: 12px;
  font-weight: 300;
  padding: 0px;
  line-height: 0px;
}

.floating-box:hover{
transform: scale(1.1);
 }


@keyframes move {
  from { z-index: 0; transform: scale(1); }
  to { z-index: 4; transform: scale(1.1); }
}



/*
#prj_cont{
  padding-left: 3vw;
  margin-top: 2vh;
  color:white;
}

.row{
  position: relative;
  margin-top: 2vh;
}

.prj_box1{
  background-color: #84C1A0;
  width: 21vw;
  height: 30vh;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;

}
.prj_box2{
  background-color: #84C1A0;
  margin-left: 2vw;
  margin-right:2vw;
  width: 21vw;
  border-radius: 6px;
  height: 30vh;
  background-image: url("../img/airmiles.png") ;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center
}

.prj_box3{
  background-color: #84C1A0;
  width: 21vw;
  height: 30vh;
  border-radius: 6px;
  position: absolute;
  top: 0;
  right: 0;
}
.testimage{
  height: 20vh;
    background-image: url("../img/airmiles.png") ;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center
}
*/