body {
}


#uw_banner{
    margin-top: 49%;
    margin-left: 24%;
    width: 50%;
    height: 20%;
    background-image: url("../img/banner_uw2.png") ;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
    position: absolute; 
    border-radius: 25px 25px 25px 25px;

  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}


#uw_banner:hover{
background-color: rgba(242,244,242,0.5);
}

#light_bulb:hover{
    background-image: url("../img/ece_logo_lit.png") ;
}

#cf {
  position:absolute;
    width: 50%;
    height:90%;
  margin-left: 26%;
  margin-top: 3%;
}

#cf img {
  position:absolute;
  left:0; 
  width: 100%;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

#bottom{
  opacity: 0;
}
